@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:white;
  --textColor:black;
  --softBg:#f0f0f0;
  --softTextColor:#626262;
}

*{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  color: inherit;
  text-decoration: none;
}

.root-wrapper{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px){
 .root-wrapper{
  max-width: 1366px;
 } 
}

.text-outline {
  -webkit-text-stroke: 1px white; /* Safari, Chrome, Opera */
  text-stroke: 1px white; /* Firefox */
  color: black; /* 텍스트 색상 */
}

code {
	padding: 3px 6px;
  	border: none;
  	border-radius: 3px;
	background-color: #e9ecef;
	font-size: 1.6rem;
	font-family: "Pretendard", "Malgun Gothic", sans-serif;
}